div.close {
    text-align: end;

    span {
        color: #838383;
        cursor: pointer;
    }
}


div.form-body {
    display:flex;
    flex-direction: column;
    height: calc(90vh - 130px);
    margin: 0px;
    padding: 15px;
    overflow: auto;
}


mat-tab-group {
    height: calc(90vh - 80px);
}

