@import '../assets/scss/color';

div.container {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: calc(100vh);
    
    div.header {
        height: 75px;
        background-color: $primary;
        
        display: flex;
        flex-direction: row;
        
        h1 {
            color: $white;
            span {
                font-size: 32px;
                vertical-align: middle;
                padding-bottom: 3px;
                padding-right: 15px;
            }
        }
    }
    
    form-builder {
        display: flex;
        flex-direction: row;

        flex: 1;    
        width: 100%;
        height: calc(100vh - 115px);
        overflow: hidden;
    }

    div.footer {
        padding: 5px 25px 0px 25px;
        height: 35px;
        background-color: $primary;
        color: $white;
    }


}